.title {
  margin-bottom: 10px;
  transform: translateY(-50px);
  opacity: 0;
  transition: all var(--transition-time) ease-in-out;
  font-size: var(--font-size);
  font-weight: 200;
  color: var(--text-color);

  &__span {

    &--currency {
      font-size: 20px;
      font-weight: 300;
    }

    &--value {
      font-size: 30px;
      font-weight: 800;
    }
  }

  &--show {
    opacity: 1;
    transform: translateY(0);
  }
}