.dropdown {
  width: 100%;
  position: relative;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &__title {
    font-size: var(--font-size);
  }

  &__arrow {
    height: 1rem;
    width: 1rem;
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: none;
    border-radius: var(--border-radius);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.1);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.24);
    }

    &:focus {
      border: var(--border-focus);
      box-shadow: var(--box-shadow-focus);
    }
  }

  &__list {
    position: relative;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    list-style: none;

    &--wrapper {
      position: absolute;
      top: 105%;
      padding: 10px;
      width: 100%;
      opacity: 0;
      transform: scale(0.01);
      border-radius: var(--border-radius);
      background-color: white;
      box-shadow: var(--box-shadow);
      transition: all var(--transition-time) ease-in-out;

      &--show {
        transform: scale(1);
        opacity: 1;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
      background: rgb(156, 156, 156);
      border-radius: var(--border-radius);
      height: var(--list-item-height);
      transform: translateY(var(--translate-value));
      transition: all var(--transition-time) cubic-bezier(.17, .67, .57, 1.51);
      pointer-events: none;
    }

    &--item {
      height: var(--list-item-height);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color);
      border-radius: var(--border-radius);
      transition: all var(--transition-time) ease-in;
      cursor: pointer;

      &--highlight {
        background-color: var(--list-item-highlight);
        font-size: calc(var(--font-size) + 4px);
      }

      &:hover {
        color: rgba(0, 150, 255, 1);
      }
    }
  }
}