.dropdown {
  min-width: 20%;
  position: relative;

  svg {
    height: 2rem;
    width: 2rem;
  }

  &__title {
    font-size: var(--font-size);
  }

  &__btn {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px 20px 10px 20px;
    border-radius: var(--border-radius);
    border: 1px solid black;
    transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: translateY(-3px);
      background-color: var(--list-item-highlight);
    }
  }

  &__list {
    position: absolute;
    top: 105%;
    list-style: none;
    width: 100%;
    transform: scale(0.01);
    opacity: 0;
    border-radius: var(--border-radius);
    border: 1px solid black;
    font-size: var(--font-size);
    transition: all var(--transition-time) ease-in-out;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      z-index: -1;
      opacity: 0.5;
      transition: all var(--transition-time) linear;
      transform: translateY(var(--translate-value));
      border-radius: var(--border-radius);
      height: var(--list-item-height);
      pointer-events: none;
      background: rgb(196, 196, 196);
    }

    &--item {
      height: var(--list-item-height);
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--text-color);
      transition: all var(--transition-time) ease-in;
      cursor: pointer;

      &--highlight {
        color: white;
        background-color: var(--list-item-highlight);
      }

      &:first-child {
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
      }

      &:last-child {
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);
      }
    }

    &--show {
      transform: scale(1);
      opacity: 1;
    }
  }
}