.dropdown {
  width: 100%;
  position: relative;
  height: 55px;
  display: flex;
  align-items: center;

  svg {
    height: 1rem;
    width: 1rem;
  }

  &__title {
    font-size: var(--font-size);
  }

  &__arrow {
    height: 1rem;
    width: 1rem;
  }

  &__btn {
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px 20px 10px 20px;
    background-color: var(--main-background-color);
    color: var(--text-color);
    border: var(--border-primary);
    border-top-right-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    box-shadow: var(--box-shadow-secondary);
    transition: all var(--transition-time) ease-in-out;
    cursor: pointer;

    &:hover {
      box-shadow: var(--box-shadow-hover);
    }

    &:focus {
      outline: none;
      border: var(--border-focus);
      box-shadow: var(--box-shadow-focus);
      padding: 8px 18px;
    }
  }

  &__list {
    position: relative;
    border-radius: var(--border-radius);
    font-size: var(--font-size);
    list-style: none;
    height: 220px;
    overflow: auto;

    &::-webkit-scrollbar {
      width: 4px;
      border-top-right-radius: var(--border-radius);
      border-bottom-right-radius: var(--border-radius);
    }

    &::-webkit-scrollbar-thumb {
      background: var(--secondary-color);
      border-radius: var(--border-radius);
    }

    &--wrapper {
      position: absolute;
      top: 105%;
      padding: 10px;
      width: 100%;
      opacity: 0;
      z-index: 1;
      transform: scale(0.01);
      border-radius: var(--border-radius);
      border: var(--border-primary);
      backdrop-filter: blur(5px);
      transition: all var(--transition-time) ease-in-out;

      &--show {
        transform: scale(1);
        opacity: 1;
      }
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      right: 2%;
      left: 0;
      z-index: -1;
      background: var(--secondary-color);
      border-radius: var(--border-radius);
      height: var(--list-item-height);
      width: 96%;
      transform: translateY(var(--translate-value));
      transition: all var(--transition-time)
        cubic-bezier(0.17, 0.67, 0.57, 1.51);
      pointer-events: none;
    }

    &--item {
      height: var(--list-item-height);
      display: flex;
      justify-content: left;
      align-items: center;
      padding-left: 5px;
      color: var(--text-color);
      border-radius: var(--border-radius);
      transition: all var(--transition-time) ease-in;
      cursor: pointer;

      &--highlight {
        background-color: var(--list-item-highlight);
      }

      &:hover {
        color: rgba(0, 150, 255, 1);
      }
    }
  }
}
