.main {
  display: flex;
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-backgroung-color);
}

.app {
  padding: 10px;
}

.container {
  display: flex;
  max-width: 500px;
  padding: 5px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);

  &__convert-from {
    margin: 10px;
  }

  &__convert-to {
    margin: 10px;
  }
}