.main {
  display: flex;
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--main-backgroung-color);
}

.app {
  display: flex;
  width: 600px;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.container {
  margin: 5px 20px 5px 20px;
}